*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#Intellij
.idea
*.iml

#mac
.DS_Store

#project
examples/js/

#node

node_modules/
npm-debug.log


#mobile
mobile-examples/index.ios.js
mobile-examples/index.android.js
mobile-examples/assets/scalajs-output.js
mobile-examples/assets/scalajs-output.js.map
mobile-examples/ios/build
mobile-examples/android/.gradle
mobile-examples/android/build
mobile-examples/android/app/build

#web-examples
web-examples/assets/
web-examples/node_modules/




