*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#Intellij
.idea
*.iml

#mac
.DS_Store

#project
examples/js/

#node

node_modules/
npm-debug.log


#mobile
index.ios.js
index.android.js

#web-examples
web-examples/assets/
web-examples/node_modules/


#relay-web-examples
relay-web-examples/assets/
relay-web-examples/node_modules/
